FineUIMvc.EmptyProject/Service References/SetCommandService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SetCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FSchemeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FPLCAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slaveId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCommandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>